apiVersion: v1
kind: Service
metadata:
  name: "postprocessor-svc"
  namespace: {{ kube_namespace }}
  labels:
    app: "postprocessor"
spec:
  ports:
    - port: 8400
      targetPort: 8400
      protocol: "TCP"
      name: http
  selector:
    app: "postprocessor"
  type: "NodePort"
