apiVersion: v1
kind: Service
metadata:
  name: "manager-svc"
  namespace: {{ kube_namespace }}
  labels:
    app: "manager"
spec:
  ports:
    - port: 8000
      targetPort: 8000
      protocol: "TCP"
      name: http
  selector:
    app: "manager"
  type: "NodePort"
