apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "model-execution"
  namespace: {{ kube_namespace }}
  labels:
    app: "model-execution"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: "model-execution"
  template:
    metadata:
      labels:
        app: "model-execution"
    spec:
      containers:
      - image: {{ model_execution_image_name }}:{{- model_execution_version_tag }}
        imagePullPolicy: {{ model_execution_image_pull_policy }}
        ports:
        - containerPort: 8000
          name: "model-execution"
          protocol: TCP
        name: "model-execution"
        command: ["gunicorn", "-c", "gconf.py", "model_execution.wsgi"]
        env:
        {%- for item in model_execution_envs %}
        - name: {{ item }}
          value: {{ model_execution_envs[item] }}
        {%- endfor %}
