.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  position: absolute;
  top: 20%;
}

.header {
  padding: 15px 10px;
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: rgb(240, 240, 240);
}

.card {
  height: 150px;
  box-shadow: 2px 4px 16px rgba(0,0,0,0.8);
  transition: 1s ease-out;
}

.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s ease-out;
  border-radius: 20px;
}

#card1 {
  background-color: rgb(143, 187, 214);
}

#card2 {
  background-color: rgb(207, 177, 131);
}

#card3 {
  background-color: rgb(129, 199, 190);
}

.card hr {
  width: 100%;
  margin-top: 5%;
}

.card h2 {
  text-align: center;
  color: rgb(240, 240, 240);
  font-family: 'Montserrat';
  font-weight: 600;
}

#btn1{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  background: rgb(129, 128, 128);
  color: rgb(240, 240, 240);
  margin-top: 20px;
}

#city-search {
  display: flex;
  width: 100%;
  margin-top: 10%;
}

#city, #state {
  padding: 18px 10px;
  margin: 0 10px;
  font-size: 15px;
  font-family: 'Montserrat';
  text-transform: uppercase;
}