apiVersion: v1
kind: Service
metadata:
  name: "weather-data-retrieval-svc"
  namespace: {{ kube_namespace }}
  labels:
    app: "weather-data-retrieval"
spec:
  ports:
    - port: 8200
      targetPort: 8200
      protocol: TCP
      name: http
  selector:
    run: "weather-data-retrieval"
  type: "NodePort"
