apiVersion: v1
kind: Service
metadata:
  name: "data-retrieval-svc"
  namespace: {{ kube_namespace }}
  labels:
    app: "data-retrieval"
spec:
  ports:
    - port: 8200
      targetPort: 8200
      protocol: "TCP"
      name: http
  selector:
    app: "data-retrieval"
  type: "NodePort"
